body {
  text-align: center;
  background-color: #181823;
}

h1 {
  font-size: 5rem;
  color: #ffebeb;
  font-family: 'Neonderthaw', cursive;
  text-shadow: 0 0 20px red;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url(images/crash.png);
}

.a {

  background-image: url(images/snare.png);
}

.s {

  background-image: url(images/tom1.png);
}

.d {

  background-image: url(images/kick.png);
}

.j {

  background-image: url(images/tom2.png);
}

.k {

  background-image: url(images/tom3.png);
}

.l {

  background-image: url(images/tom4.png);
}

.set {
  margin: 10% auto;
}


.pressed {
  border: inset white;
}

.drum {
  display: inline-block;
  outline: none;
  font-size: 5rem;
  font-family: 'New Rocker', cursive;
  line-height: 2;
  font-weight: 900;
  color: black;
  text-shadow: 5px 0 #FFDB89;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  opacity: 85%;
}